*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: system-ui;
}

body{
    background-color: black;
}
header{
    position: sticky;
    top: 0;
}

.navbar{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: white;
    padding: 25px;
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.navbar ul li{
    margin: 10px auto;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.title{
    color: white;
    text-align: center;
    font-size: 45px;
    padding: 40px;
}

.recent-bpost{
    font-size: large;
    margin: 15px;
    padding: 20px;
}

.articles p{
    padding: 10px;
    color: purple;
    font-weight: bolder;
}

.articles img{
    width: 100%;
    height: auto;
    padding-top: 40px;
}

.span{
    padding: 10px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

.main-article, .sample-articles, .sample-articles-bottom {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

.sample-articles-bottom {
    grid-column: span 2;
}

.navbar ul li a:hover{
    color: orange;
}